
.HomeView{
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
}



.container-flayer{
display: flex;
justify-content: space-evenly;
padding: 0px 25px;
}

.container-flayer > div{
  margin-top: 20px;
  color: white;
  
}

.container-flayer > img{
  align-self: end;
  margin-bottom: 2px;
  height: 300px;
  width: 350px;
}



.background-container {
  height: auto;
  width: 100%;
  background-image: url("../../assets/imgs/Vector3.png");
  background-repeat: no-repeat;
  background-size: 100% 350px;
}

#home > .background-container{
  height: 350px;
  position: relative;
}

.container-image {

  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100%;
}



.navBar-list {
  background: #0065ff;
  height: 45px;
  padding: 0;
}



/* ****************About****************** */
.about {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 30px;
  margin-bottom: 80px;
}

#about > div {
  min-width: 300px;
}

#about h2,
#about h4 {
  color: #0065ff;
}


/*First div*/
#about > div:first-child {
  margin-top: -140px;
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.container-left > div > h4 {
  text-wrap: wrap;
  width: clamp(200px, 50vw, 480px);
}


.container-image > p{
  background: linear-gradient(to right,white,#B5E4FF);
  -webkit-background-clip: text;
  color: transparent;
  margin: 0;
  font-weight: 800;
  font-size: 29px;
}



/*carrusel*/
.img1 {
  background-image: linear-gradient(
      to top,
      rgba(0, 101, 255, 0.5) 0%,
      rgba(0, 0, 0, 0.1) 60%
    ),
    url("../../assets/imgs/image1.png");
    
}
.img2 {
  background-image: linear-gradient(
      to top,
      rgba(0, 101, 255, 0.5) 0%,
      rgba(0, 0, 0, 0.1) 60%
    ),
    url("../../assets/imgs/image2.png");
}

.img3 {
  background-image: linear-gradient(
      to top,
      rgba(0, 101, 255, 0.5) 0%,
      rgba(0, 0, 0, 0.1) 60%
    ),
    url("../../assets/imgs/image3.png");
}

/*second div*/
#about > div:last-child {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-self: center;
  flex: 1 1 55%;
}


/*******PACKAGES******/
.packages-text-container {
  padding-top: 30px;
  padding-left: 50px;
  margin-bottom: 20px;
  color: white;
}

.heigth-100{
    height: 100%;
}

#packages{
 display: flex;
 flex-direction: column;
 gap:10px;
}

.section-packages{
    gap:20px;
}

.container-footer{
    flex-wrap: wrap;
}

.container-footer > div{
    display: flex;
    justify-content: center;
    min-width: 250px;
    align-self: center;
}



/**************************************************/
/***************Responsive for movile**************/
/**************************************************/

/*Home*/
@media (max-width: 792px) {
  #home > .background-container{
    height: 250px;
    background-color: #0065ff;
   
  }

  .navBar-list{
    display: none;
  }
 
  .text-container {
    left: 5%;
    top: 0px;
  }

  .container-flayer > img {
  height: 150px;
  width: 200px;
}

}

/*About*/
@media (max-width: 792px) {

  #about > div:first-child{
    margin-top: 0;
  }



}


/*Packages*/
@media (max-width: 792px) {


  #packages > .background-container{
    background-color: #0065ff;
  }


  .packages-container-avisos{
  background-color: white;
    /* color:white; */
  }

}