.navBar {
    position: sticky;
    top: 0;
    z-index: 10;
  }
  
  .navBar-list{
    display: flex;
  }
  .no-select .v-list-item--active {
    background-color: transparent;
  }
  
  .navBar-list .v-list-item__title {
    cursor: pointer;
  }